body {
  background-color: #282c34;
}

.App {
  text-align: center;
}

.cardBlock {
  display: block;
  margin-top: 100px;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  height: 210px;
  width: 160px;
  background-color: black;
  cursor: pointer;
}

.cardBlock:hover {
  background-color: gold;
}

.gridRows {
  display: flex;
  flex-flow: row;
}
