body {
  background-color: #282c34;
}

.App {
  text-align: center;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  margin: auto;
}

.grid > div {
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.cardBlock {
  display: block;
  margin-top: 100px;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  height: 210px;
  width: 160px;
  background-color: black;
  border-radius: 10px;
  cursor: pointer;
}

.cardBlock:hover {
  background-image: url("https://i.pinimg.com/originals/05/ea/a0/05eaa0098cb59f2d1a21a625c31217ad.gif");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.gridRows {
  display: flex;
  flex-flow: row;
}
